.slider span {
      position: relative;
      margin: 0px;
      padding: 0;
      color: #d0d0d0;
      // font-size: 230px;
      // font-weight: 500;
      padding-right: 50px;
}

.slider span:nth-of-type(2) {
      position: absolute;
      left: 100%;
      top: 0;
}

.hero-effect::before {
      background: linear-gradient(0deg, #d2d2d2, transparent);
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 18.5rem;
      pointer-events: none;
      transform: rotate(180deg);
}

.hero-effect::after {
      background: linear-gradient(0deg, #d2d2d2, transparent);
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 18.5rem;
      pointer-events: none;
}